* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 20vw 80vw;
    grid-template-rows: 100vh;
}

.sidebar {
    margin-left: 15px;
    max-height: 100vh;
    overflow: auto;
}

#addlayer {
    margin:auto auto 30px auto;
    display:block;
}

h2 {
    text-align: center;
    margin-bottom: 5px;
}

.hidden {
    display: none !important;
}

#added {
    margin-bottom: 10px;
}

#additional {
    max-height: 200px;
    overflow: auto;
}

#temphidden {
    text-align: center;
    margin: 10px auto;
}

#datalayer {
    margin:0 auto;
    display:block;
}

#myFile {
    display: block;
    margin: 10px auto;
    text-align: center;
}

#titlelayer {
    display: block;
    margin: 10px auto;
}

#addpicked {
    margin:0 auto;
    display:block;
}

#info {
    width: 80vh;
}

#js-map {
    height: 95%;
}

.space-map {
    height: 80% !important;
}

.ol-tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
    font-size: 12px;
    cursor: default;
    user-select: none;
}
.ol-tooltip-measure {
    opacity: 1;
    font-weight: bold;
}
.ol-tooltip-static {
    background-color: #ffcc33;
    color: black;
    border: 1px solid white;
}
.ol-tooltip-measure:before,
.ol-tooltip-static:before {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
}
.ol-tooltip-static:before {
    border-top-color: #ffcc33;
}

#info {
    max-height: 100px;
    width: 100%;
    overflow: auto;
}

#layerlist {
    max-height: 390px;
    overflow: auto;
}

#allow-query {
    margin:10px auto;
    display:block;
}

.queryhidden {
    display: none !important;
}

#querybuttons {
    text-align: center;
}

#layer {
    max-width: 19vw;
}