* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 20vw 80vw;
    grid-template-rows: 100vh;
}

.sidebar {
    margin-left: 15px;
}

#addlayer {
    margin:auto auto 10px auto;
    display:block;
}

h2 {
    text-align: center;
}

.hidden {
    display: none !important;
}

#added {
    margin-bottom: 10px;
}

#additional {
    max-height: 250px;
    overflow: auto;
}

#addselected {
    display: block;
    margin: 10px auto;
}

#datalayer {
    margin:0 auto;
    display:block;
}

#myFile {
    display: block;
    margin: 10px auto;
    text-align: center;
}

#titlelayer {
    display: block;
    margin: 10px auto;
}

#addpicked {
    margin:0 auto;
    display:block;
}